<div class="row">
    <div class="col-lg-12">
    <div class="col-xs-9">
        <h2>{{title}}</h2>
        <p>{{this.slogan}}</p>
    </div>
    <a type="button" href="{{edit_link}}" class="btn btn-success btn-lg col-xs-3 addnew-btn">{{addnew_label}}</a>
    </div>
</div>
<div class="row">
    <div class="input-group col-xs-8 col-xs-push-4 custom-search-form">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <i class="fa fa-search"></i>
        </button>
    </span>
    </div>
</div>
<div class="row">
    <!-- la liste des pizzas -->
    {{#each products}}
    <a href="{{../view_link}}{{this.id}}">
    <div class="col-lg-12">
        <div class="panel panel-default pizzas-infos {{#ifEq this.dispo false}}top{{/ifEq}}">
            <div class="panel-body">
                <div class="pizzas-infos-content">
                    <img src="/images/{{this.picture}}"/>
                    <div class="content">
                        <h3>{{this.nom}}</h3><h4>{{slogan}}</h4>
                        <p>{{this.long_desc}}</p>
                    </div>
                    <button type="button" class="btn btn-primary btn-circle btn-xl">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>

                
            </div>
        </div>
    </div>
    </a>
    {{/each}}

</div>