
<div class="row">
   &nbsp;
</div>
<div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            
                            
                            <table width="100%" class="table table-striped table-bordered table-hover" id="products">
                                <!-- /.table-responsive -->
                            <div class="well">
                                <h3>{{title}}</h3>
                                <p>{{slogan}}</p>
                                <p>Il y a actuellement <strong>{{count}}</strong> pizzas en base de données!</p>
                                <a type="button" href="{{edit_link}}" class="btn btn-success btn-lg btn-block addnew-btn">{{addnew_label}}</a>
                            </div>
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Base</th>
                                        <th>Ingredients</th>
                                        <th>Catégorie</th>
                                        <th>Prix small</th>
                                        <th>Prix Big</th>
                                        <th>Note</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each products}}
                                    <tr class="odd gradeX">
                                        <td><a href="/admin/pizzaedit/{{id}}" title="Cliquez pour editer cette recette">{{nom}}</a></td>
                                        <td>{{base}}</td>
                                        <td>{{#linearizeArray ingredients}}{{this}}{{/linearizeArray}}</td>
                                        <td>{{id_category}}</td>
                                        <td class="text-center">{{this.prix_small}}</td>
                                        <td class="text-center">{{prix_big}}</td>
                                        <td class="text-center">{{#formatNumber note }}{{this}}{{/formatNumber}}</td>
                                        <td class="center"><label >
                                                    <input  id="check-{{id}}" type="checkbox" onchange="activatepizza({{id}});" data-toggle="toggle" {{#ifEq active true}}checked="true"{{/ifEq}}>
                                                    <span id="text-{{id}}">{{#ifEq active true}}Active{{else}}Inactive{{/ifEq}}</span>
                                                </label></td>
                                    </tr>
                                    {{/each}}
                                    
                                </tbody>
                            </table>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="myModalLabel">Oups...</h4>
                                        </div>
                                        <div class="modal-body">
                                            Une erreur est arrivée lors de la mise à jour de la base.<br/>
                                            Les modifications n'ont pas été prises en compte.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
    <script>
        var forget = false;//wow

        function activatepizza(id){
            if(forget){
                forget = false;
                return;
            }
            //lance une requete put 
            console.log($("#check-"+id).prop('checked'))
            var active = $("#check-"+id).prop('checked') ;
            $.ajax({
                url: '/admin/pizzas',
                type: 'PUT',
                data: "pizza="+id+"&active="+active,
                success: function(data, status) {
                    console.log("hello", status)
                    if(status=="success"){
                        //modifie le label 
                        $("#text-"+id).text(active?"Active":"Inactive");
                    } else {
                        forget = true;
                        $("#check-"+id).bootstrapToggle('toggle');
                        $('#myModal').modal('toggle');
                    }
                    
                }, 
                error:function(){
                    //parceque la, jquery appelle le onchange!!!!
                    forget = true;
                    $("#check-"+id).bootstrapToggle('toggle');
                    $('#myModal').modal('toggle');
                }
                
            });
        }
    </script>
     <script>
    $(document).ready(function() {
        $('table').each( (i,elem)=>{
                $(elem).DataTable({
                "filter": true,
                "pagingType": "simple_numbers",
                "orderClasses": false,
                "order": [[0, "asc"]],
                "info": false,
                responsive: true
            });
        });
    });
    </script>