&nbsp;
<div class="row">
    {{#if msg}}<p class="alert">{{msg}}</p>{{/if}}
<div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{title}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        
                        {{#if product.id}}
                        <p>Mise à jour d'une news</p>
                        {{else}}
                        <p>Ce formulaire vous permet de rédiger de nouvelles news....</p>
                        {{/if}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        

                        
                        <form role="form" method="POST" action="/admin/news" enctype="multipart/form-data">
                            {{#if product.id}}<input type="hidden" name="id" value="{{product.id}}">{{/if}}
                            <div class="form-group">
                                <label>Titre de la News</label>
                                <input class="form-control" name="title" required value="{{product.title}}">
                                <p class="help-block">Le titre est la premiere chose qu'on lit,....</p>
                            </div>
                            <div class="form-group">
                                <label>Contenu</label>
                                <textarea class="form-control" rows="3" name="texte">{{product.texte}}</textarea>
                                
                            </div>
                            

                             {{> img.uplaod this}}

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Enregistrer</button>
                                <a href="/admin/news"  class="btn btn-default btn-lg">Retour</a>
                                
                            </div>
                        </form>
                    </div>
                    
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>