&nbsp;
<div class="row">
    <div class="col-lg-12">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                Répartition des commandes par Bases
            </div>
            <div class="panel-body">
                

                <div class="well">
                                
                                <form action="/admin/stats/bases" method="GET">
                                <div class="form-group">
                                    <label>Choisissez la période:</label>
                                    <p class="help-block">Selectionnez une période d'affichage pour les ventes</p>
                                    <select class="form-control" name="period" value="{{graph_value}}">
                                            <option value="YEAR" {{#ifEq graph_value "YEAR"}}selected="true"{{/ifEq}}>Evolution sur les 12 derniers mois</option>
                                            
                                            <option value="MONTH" {{#ifEq graph_value "MONTH"}}selected="true"{{/ifEq}}>Evolution sur les 30 derniers jours</option>
                                            <option value="WEEK" {{#ifEq graph_value "WEEK"}}selected="true"{{/ifEq}}>Evolution sur les 7 derniers jours</option>
                                            <option value="REPW" {{#ifEq graph_value "REPW"}}selected="true"{{/ifEq}}>Repartition sur la semaine</option>
                                            <option value="REPH" {{#ifEq graph_value "REPH"}}selected="true"{{/ifEq}}>Repartition sur l'heure</option>
                                    </select>
                                    
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg">Voir les résultats</button>
                                </form>
                            </div>
                <div id="morris-sells" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    </div>
                     <div id="legend"></div>
                    <script>
                        //initialisation du graph Morris
                            $(function() {

                                var chart = Morris.Area({
                                    element: 'morris-sells',
                                    data: [
                                    
                                           
                                            {{#each sell_datas}}
                                                {
                                                    "date":"{{#formatDate this.period ../graph_type}}{{this}}{{/formatDate}}",
                                                    {{#each datas}}
                                                        "{{{this.nom}}}":{{this.sum}} ,
                                                    {{/each}}
                                                },
                                            {{/each}}
                                            
                                    
                                    ],
                                    xkey: 'date',  
                                    parseTime:false,                                  
                                    labels: [{{#each sell_datas.0.datas}}"{{{this.nom}}}",{{/each}}],
                                    ykeys: [{{#each sell_datas.0.datas}}"{{{this.nom}}}",{{/each}}],                                    
                                    hideHover: 'auto',
                                    resize: true
                                });
                                
                            });
                    </script>
            </div>
        </div>
    </div>
</div>

