<div class="row">
    <div class="col-lg-12"><h3>{{title}}</h3>
    <p>Texte description</p></div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="podium">
            <div class="second">
                <h3>{{{tiercet.1.nom}}}</h3>
                <div>{{#formatNumber tiercet.1.avg}}{{this}}{{/formatNumber}} <i class='fa fa-star'></i></div>
            </div>
            <div class="first">
                <h3>{{{tiercet.0.nom}}}</h3>
                <div>{{#formatNumber tiercet.0.avg}}{{this}}{{/formatNumber}} <i class='fa fa-star'></i></div>
            </div>
            <div class="third">
                <h3>{{{tiercet.2.nom}}}</h3>
                <div>{{#formatNumber tiercet.2.avg}}{{this}}{{/formatNumber}} <i class='fa fa-star'></i></div>
            </div>

        </div>
    </div>
</div>

<div class="row">
                <div class="col-lg-12">
                    <div id="morris-sells" style="position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    </div>
                     <div id="legend"></div>
                    <script>
                        //initialisation du graph Morris
                            $(function() {

                                var chart = Morris.Bar({
                                    element: 'morris-sells',
                                    data: [
                                    
                                        
                                            
                                            {{#each beststar.datas}}
                                            { 
                                                y: "{{{this.nom}}}",
                                                a:{{this.avg}} 
                                            },
                                            {{/each}}
                                    
                                    
                                    ],
                                    xkey: 'y',
                                    ymax:6,
                                    labels: ['note'],
                                    ykeys: ['a'],
                                    
                                    hideHover: 'auto',
                                    resize: true
                                });
                                chart.options.labels.forEach(function(label, i){
                                   var legendItem = $('<span></span>').text(label).css('color', chart.options.barColors[i])
                                   legendItem.append("<i class='fa fa-star'></i>");
                                    $('#legend').append(legendItem);
                                });
                            });
                    </script>
                </div>
</div>